@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

:root{
    --text-light: rgba(255,255,255,0.6);
    --text-lighter: rgba(255,255,255,0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
    --line-border-fill: #519872;
    --line-border-empty: #e0e0e0;
  }
  
*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: block;
}

#navbar{
    background-color: #34252F;
    color: var(--text-lighter);
    font-family: 'Montserrat', sans-serif;
    position: absolute; left: 0; top: 0;
    text-align: left; 
    width: 100%;
    margin: auto;
    padding-left: 75px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}

#navbar ul{
    padding: 0;
    list-style: none;
}

#navbar li{
    display: inline;
}

#navbar a{
    color: var(--text-lighter);
    text-decoration: none;
    text-align: left;
    font-size: 18px;
    padding-right: 15px;
}

#main-footer{
    position: fixed;
    width: 100%;
    bottom: 0px;
    width: 100%;
    background-color: #34252F;
    color: var(--text-light);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 10px;
    margin-top: 0px;
}

body{
    font-family: "Muli", sans-serif;
    background-color: #BEC5AD;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    font-size: 16px;
    line-height: 1.6em; 
}

.container{
    text-align: center;
}

.progress-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}

.progress-container::before{
    content: '';
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
}
.progress{
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: .4s ease;
}

.circle{
    background-color: var(--text-lighter);
    color: #34252F;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--line-border-empty);
    z-index: -1;
    transition: .4s ease;
}

.circle.active{
    border-color: var(--line-border-fill);
}

.btn{
    background-color: var(--line-border-fill);
    color: var(--text-lighter);
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
}

.btn:active{
    transform: scale(0.98);
}

.btn:focus{
    outline: 0;
}

.btn:disabled{
    background-color: var(--line-border-empty);
    cursor: not-allowed;
}