@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

:root{
    --text-light: rgba(255,255,255,0.6);
    --text-lighter: rgba(255,255,255,0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
}
  
*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: block;
}

#navbar{
    background-color: #34252F;
    color: var(--text-lighter);
    font-family: 'Montserrat', sans-serif;
    position: absolute; left: 0; top: 0;
    text-align: left; 
    width: 100%;
    margin: auto;
    padding-left: 75px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    z-index: 10;
}

#navbar ul{
    padding: 0;
    list-style: none;
}

#navbar li{
    display: inline;
}

#navbar a{
    color: #ffffff;
    text-decoration: none;
    text-align: left;
    font-size: 18px;
    padding-right: 15px;
}

#main-footer{
    position: fixed;
    width: 100%;
    bottom: 0px;
    background-color: #34252F;
    color: var(--text-light);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 10px;
    margin-top: 0px;
}

body{
    font-family: "Muli", sans-serif;
    background-color: #BEC5AD;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    font-size: 16px;
    line-height: 1.6em; 
}

.container{
    display: flex;
    width: 90vw;
}

.panel{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    border-radius: 50px;
    color: #ffffff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    /* This does not solve the weird behavior of h3 text.
    transition: flex 0.7s ease-in;
    */
    -webkit-transition: 0.7s ease-in;
    /* Add box shadow to make h3 text more readable */
    box-shadow: #000000 0px -80px 100px inset;
}

.panel h3{
    font-size: 36px;
    position: absolute;
    bottom: 20px;
    left: 60px;
    margin: 0;
    opacity: 0;
}

.panel.active{
    flex: 5;
}

.panel.active h3{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

@media(max-width: 480px){
    .container{
        width: 100vw;
    }

    .panel:nth-of-type(4),
    .panel:nth-of-type(5){
        display: none;
    }
}

